@model Cornershop.Presentation.Customer.Models.CategoryFilterModel

<div class="sidebar__item">
    <h4>Categories</h4>
    <ul>
        @{
            foreach (var category in Model.Categories)
            {
                if (ViewData["categoryId"] != null && category.Id == (string)ViewData["categoryId"]!)
                {
                    <li><a asp-controller="Product" asp-route-categoryId="@category.Id" class="text-success">
                        @category.Name</a></li>
                    foreach (var subcategory in Model.Subcategories)
                    {
                        if (ViewData["subcategoryId"] != null && subcategory.Id == (string)ViewData["subcategoryId"]!)
                        {
                            <li class="ps-3 text-small"><a asp-controller="Product" asp-route-categoryId="@category.Id"
                                 asp-route-subcategoryId="@subcategory.Id" class="text-success">
                                @subcategory.Name</a></li>
                        }
                        else
                        {
                            <li class="ps-3 text-small"><a asp-controller="Product" asp-route-categoryId="@category.Id" 
                                asp-route-subcategoryId="@subcategory.Id">
                                @subcategory.Name</a></li>
                        }
                    }
                }
                else
                {
                    <li><a asp-controller="Product" asp-route-categoryId="@category.Id">
                        @category.Name</a></li>
                }
            }
        }
    </ul>
</div>